{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% load static %}
{% load cart_filter %}
{% block content %}

<div class="container my-3 border" >
  
  <div class="row">
    
    <div class="col">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'image/1.webp' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item"> 
            <img src="{% static 'image/2.webp' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'image/1.webp' %}" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
  
  
       
    </div>
  </div>

    {% if error %}
    <form action="{% url 'home' %}"method="POST">
      {% csrf_token %}

    <div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" 
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style = "display:block;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"></h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
              <div class="modal-body">
                     {{error}}
              </div>
                 <div class="modal-footer">
                     
                            <button type="submit" class="btn btn-danger"data-bs-dismiss="modal">OK</button>
                       </form>
        </div>
      </div>
    </div>  
  
     
  
       {% endif %}
  <form>
  <div class ="row">
    <div class="col-3 d-flex mx-auto" >
      
         <ul class="list-group">
          {% for cate in cat %}
          <li class="list-group-item " aria-current="true" ><a href="?cate_id={{cate.id}}">{{cate.name}} </a></li>
          {% endfor %}
        </ul>
    </div>
  
  
    <div class="col-9 d-flex mx-auto flex-wrap" style="overflow:scroll; height:500px">
      {% for product in pro %}
      
      
      <div class="card mx-3 my-3" style="width: 13rem; height:150;">
        <img src="{{product.pro_image.url}}"class="card-img-top" alt="..." height=200>
        <div class="card-body">
          <h5 class="card-title">{{product.product_name}}</h5>   
          <p class="card-text">{{product.desc}}</p>
          <p class="card-text">{{product.price}}</p>
          
        </div>
      
    
      
    
      <div class="card-footer text-center">
        <div class="row ">
          {% if product|is_exist_in_cart:request.session.cart %}
          <div class="row">
            <div class= "col-2">
              <form action ="#{{product.id}}" method="POST">
                {% csrf_token %}
                <input type="text" name="cartid" value="{{product.id}}"hidden>
                 <input type="text" name="minus" value="{{product.id}}"hidden>
                 <button type="submit" class="btn btn-primary"> - </a>
                  
               </form>
             </div> 
            <div class="col-8">
                 {{product|cartquantity:request.session.cart}}
            </div>
            <div class= "col-2">  
              <form action ="#{{product.id}}" method="POST">
                {% csrf_token %}
                 <input type="text" name="cartid" value="{{product.id}}"hidden>
                 <button type="submit" class="btn btn-primary"> + </a>
                  
               </form>  

            </div>
          </div>
          
          {% else %}
          <div class="col">
            <form action ="#{{product.id}}" method="POST">
             {% csrf_token %}
              <input type="text" name="cartid" value="{{product.id}}"hidden>
              <button type="submit" class="btn btn-primary"> Add to Card</a>
               
            </form>
          
          
          </div>
        
        {% endif %}
      </div>
    </div>
  
  </div>
    {% endfor %}
    
  </div>
    
</div>
    
  



 





{% endblock content %}




